# compiled output
/dist
/node_modules

# env
.env
.env.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# Prisma
prisma/*.db
